@import url('https://fonts.googleapis.com/css?family=Montserrat');

#title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
}


#pomo {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 750px;
  margin: 20px auto;
  margin-top: 200px; 
  /* margin-left: 20px auto;
  margin-right: 20px auto; */
  font-family: "Montserrat";
  float: left;
  align-self: center;
}

#pomo h1 {
  font-size: 7em;
  text-align: center;
  line-height: 1em;
  margin-bottom: 5px;
}

#pomo h4 {
  font-size: 2em;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: bold;
}

#pomo button {
  margin-bottom: 7px;
  font-family: "Montserrat";
  font-size: 20px;
  width: 16em;
  align-self: center;
}

/* .notebutton {
    margin-bottom: 7px;
    font-family: "Montserrat";
    width: 16em;
    align-self: center;
}  */

#notes h2{
   text-align: center; 
   font: "Montserrat";
   font-size: 25px;
}
body {
    font-family: "Montserrat";
}
i {
    font-size: 12px;
    clear: both;
    font-style: normal;
    display: block;
}
h2 {
    margin-top: 5px;
}
#notes {
    display: flex;
    flex-flow: column wrap;
    margin: 20px auto;
    /* margin-left: 100px; */
    height: 100%;
    /* justify-content: flex-start; */
    align-content: center;
    max-width: 50%;
    width: auto;
    align-self: center;
}

#notes > * {
    transition: all ease 0.3s;
}

#notes>div {
    position: relative;
    width: 100%;
    /* max-width: 350px; */
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
}

textarea {
    display: block;
    width: 100%;
    height: 85px;
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
    text-align: center;
    align-self: center;
    font-family: "Montserrat";
}

textarea:focus {
    border-color: black;
}
#notes buttonnote {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none; */
}

#buttonnote {
    display: block;
    box-sizing: content-box;
    width: auto;
    border: 1px solid #ccc;
    cursor: pointer;
    clear: both;
    align-self: center;
    font-family: "Montserrat"; 
}

.buttonnote:hover {
    background-color: #00d1b2;
    color: white;
    border-color: #00d1b2;
}
.top {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.close {
    text-align: right;
    height: 10px;
    width: 10px;
    position: relative;
    box-sizing: border-box;
    line-height: 10px;
    display: inline-block;
}
.close:before, .close:after {
    transform: rotate(-45deg);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -5px;
    display: block;
    height: 2px;
    width: 10px;
    background-color: black;
    transition: all 0.25s ease-out;
}
.close:after {
    transform: rotate(-135deg);
}
.close:hover:before, .close:hover:after {
    transform: rotate(0deg);
}

@media screen and (max-width: 600px) {
    #pomo {
        display: flex;
        flex-direction: column;
        width: 50%;
        max-width: 750px;
        margin: 20px auto;
        margin-top: 0px; 
        /* margin-left: 20px auto;
        margin-right: 20px auto; */
        font-family: "Montserrat";
        float: none;
      }

      #pomo h1 {
        font-size: 6em;
        text-align: center;
        line-height: 1em;
        margin-bottom: 5px;
      }
      
      #pomo h4 {
        font-size: 1em;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        font-style: bold;
      }
      
      #pomo button {
        margin-bottom: 7px;
        font-family: "Montserrat";
        font-size: 1em;
        width: 16em;
        align-self: center;
      }

      #notes {
        display: flex;
        flex-flow: column wrap;
        margin: 10px auto;
        /* margin-left: 100px; */
        height: 100%;
        /* justify-content: flex-start; */
        align-content: center;
        max-width: 90%;
        width: auto;
    
    }
    
    #notes > * {
        transition: all ease 0.3s;
    }
    
    #notes>div {
        position: relative;
        width: 100%;
        /* max-width: 350px; */
        padding: 8px;
        margin: 10px;
        border: 1px solid #ccc;
    }
    
    textarea {
        display: block;
        width: 100%;
        height: 85px;
        padding: 8px;
        margin: 10px;
        border: 1px solid #ccc;
        text-align: center;
        align-self: center;
        font-family: "Montserrat";
    }
    
    textarea:focus {
        border-color: black;
    }
    #notes buttonnote {
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none; */
    }
    
    #buttonnote {
        display: block;
        box-sizing: content-box;
        width: auto;
        border: 1px solid #ccc;
        cursor: pointer;
        clear: both;
        align-self: center;
        font-family: "Montserrat"; 
    }
}